@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: auto;
    padding: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 900
    ;
}
.container_santos{
    width:6vw;
    margin-top:1vw;


}
body{
    background-color: black;
}
.container_contato{
    font-size: 3vw;
    color:white;
}
.container_pai{
    width: 80vw;
    height: 44vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    margin-top:-5vw;
}
input{
width: 40vw;
height: 5vw;
border-radius: 2vw;
font-weight: 900;
}
.container_paragrafo{
    color:white;
    font-size:2vw;
    width: 50vw;;
    font-weight: 700;
}
button{
    width:40vw;
    height: 4vw;
    border-radius: 20vw;
    background-color: white;
    color:black;
}

.container_filho{
    width:5vw;
    margin-left:14vw;
}
img{
    width: 3vw;
}
.wpp{
    color: white;
    margin-left:5vw;
    margin-top:-3vw; 
}
.git{
    margin-top:1vw;
}