
.container_lista{
    width:80%;
    height: 15vh;
    color:white;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 1.2vw;
    list-style-type:none;
    justify-content:space-between;
    margin-left:30vw;
}
a{
    text-decoration: none;
}

.container_pai{
    width:60vw;
}
.content{
    width: 95vw;
    height:65vh;
    display: flex;
   justify-content: center;
   align-items: center;
}
h2{
margin-left:40vw;
margin-top:-6vw;

}

.container_santos{
    width:6vw;
    margin-top:1vw;


}