@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
body{
    background-image: url("../image/torcedores-do-santos.jpg");
    background-size: cover;
    
    
}
.container_pai{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;

   
}
.opacidade{
    display: flex;
    width:90%;
    height: 30vh;
    background-color: black;
    opacity: 0.9;
    border:solid 2px white;
    border-radius: 2vw;
}
p{
    color:white;
    font-size: 2vw;
}
.container_santos{
    width:6vw;
    margin-top:1vw;


}
.opacidade2{
    display: flex;
    width:90%;
    height: 90vh;
    background-color: black;
    opacity: 0.9;
    border:solid 2px white;
    margin-top:11vw;
    border-radius: 2vw;


}
.paragrafo{
    color:white;
    font-size: 2vw;
}
